.MyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 550px;
  height: 350px;
  background-color: rgba(87, 87, 87, 0.225);
  border-radius: 60px;
  flex-direction: column;
  animation: videoEnter 1s ease 0s 1 normal forwards;
}

.MyBox.londonBox {
  top: 100px;
  left: 10px;
  width: 400px;
  height: 170px;
  cursor: pointer;
}

.MyBox.newYorkBox {
  bottom: 150px;
  left: 10px;
  width: 400px;
  height: 170px;
  cursor: pointer;
}

.MyBox.kyivBox {
  top: 100px;
  right: 10px;
  width: 400px;
  height: 170px;
  cursor: pointer;
}

.MyBox.torontoBox {
  bottom: 150px;
  right: 10px;
  width: 400px;
  height: 170px;
  cursor: pointer;
}

.MyBox.ipBox {
  bottom: 20px;
  width: 400px;
  height: 130px;
  cursor: pointer;
}

.MyBox:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #000000a6 0%, #ffffffa6 100%);
  transform: translate3d(31px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.MyBox::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

@keyframes videoEnter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
