.input__town {
  position: absolute;
  top: 45%;
  border: 3px solid #3e3e3ec8;
  border-radius: 20px;
  width: 50%;
  font-size: 25px;
  box-sizing: border-box;
  text-indent: 10px;
  color: #000000;
  font-family: "Rubik Distressed", cursive;
  opacity: 70%;
}

.input__town.on__info {
  top: 82%;
  animation: videoEnter 1s ease 0s 1 normal forwards;
}
