.input__town {
    position: absolute;
    top: 43%;
    border: 5px solid #3e3e3e;
    border-radius: 30px;
    width: 50%;
    font-size: 30px;
    box-sizing: border-box;
    text-indent: 10px;
    color: #000000;
    font-family: 'Rubik Distressed', cursive;
}

.input__town.on__info {
    top: 80%;
    animation: videoEnter 1s ease 0s 1 normal forwards;
}