* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Distressed', cursive;
    color: rgb(235, 235, 235);
}

.App {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-test {
    position: absolute;
    left: 0;
    top: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 7%;
}

.weather-data-header {
    display: flex;
    align-items: center;
    flex-direction: column;

}