* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Distressed', cursive;
    color: rgb(235, 235, 235);
}

.App {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: -1;
}

.default-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.34);
}

.button-test {
    position: absolute;
    left: 0;
    top: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 7%;
}

.weather-data-header {
    display: flex;
    align-items: center;
    flex-direction: column;

}